[mysqld]
##########################################binlog相关#####################################
log-bin=mysql-bin
binlog-format=ROW #选择row模式 MIXED、STATEMENT
server_id=1 #配置mysql replaction需要定义，不能和canal的slaveId重复
####################################innodb自增主键策略####################################
innodb_autoinc_lock_mode=0